   html {
      background-color: #222222;
   }

   body {
      background-color: #fffbf0;
      margin: 0px;
   }
   hr {
      border: 0;
      height: 1px;
      background: lightgray;
   }
   .bold {
      font-weight: bold;
   }
   #bodyDiv {
      padding: 0 10% 0 10%;
   }
   #headerDiv h1 {
      font-size: 3em;
   }
   #headerBar {
      background-color: #F5C358;
      height: 10px;
   }
 
   /*CSS for Navbar*/
   .navBar {
      overflow: hidden;
      background-color: #333;
   }
   .navBar a {
       float: left;
       color: white;
       text-decoration: none;
       padding: 14px 16px;
       border-right: 1px solid #bbb;
   }
   .dropdownDiv, #loginButton{
      float: right;
      overflow: hidden;
      background-color: #F1B82D; 
   }
   .dropdownDiv .dropButton{
      cursor: pointer;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      min-width: 150px;
   }
   .navBar a:hover {
      background-color: #111;
   }
   .dropdownDiv:hover .dropButton, #loginButton:hover{
      background-color: #efb015;
   }
   .drop-content {
      display: none;
      position: absolute;
      background-color: white;
      width: 150px;
      box-shadow: 0 0 10px #b2b2b2;
      z-index: 1;
   }
   .drop-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      width: 100%;
      overflow: auto;
   }
   .drop-content a:hover {
      background-color: #e5e5e5;
   }
   .show {
      display: block;
   }
   /*END Navbar CSS*/
    
   #contentDiv {
      margin: 5% 0 5% 0;
      border-top: 5px solid #F5C358; 
      box-shadow: 0 0 10px lightgray;
      background-color: #FFFFFF;
      padding: 2% 10% 2% 10%;
   }
   #contentDiv .center{
      text-align: center;
    }
   #footerDiv {
      background-color: #222222;
      color: #CCCCCC;

      padding: 1% 10% 1% 10%;
      
   }

   input[type=submit], input[type=button] {
      width: 100%;
      background-color: #F1B82D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
   }

   input[type=submit]:hover {
      background-color: #F5C358;
   }